[Unit]
Description=tarantool-node
After=docker.service
Requires=docker.service

[Service]
ExecStartPre=-/usr/bin/docker kill tarantool
ExecStartPre=-/usr/bin/docker rm tarantool
ExecStart=/usr/bin/docker run -rm -name tarantool 
